In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Model
import os
from urllib import request

In [20]:
def load_data():
    data_dir = "data"
    data_name = "destination.csv"
    if not os.path.exists(data_dir):
        os.mkdir(data_dir)
        
    data_url = "https://raw.githubusercontent.com/Touventure/models/main/data/tourism_with_id.csv"
    request.urlretrieve(data_url, f"{data_dir}/{data_name}")
    df = pd.read_csv(f"{data_dir}/{data_name}")
    df = df[["Place_Id", "Place_Name", "Description", "Category", "City", "Price", "Rating", "Time_Minutes", "Coordinate", "Lat", "Long"]]
    df = df.rename(columns={"Place_Id": "id","Place_Name": "name", "Description": "des", "Category": "cat", "City": "cit", "Price": "price", "Rating": "rating", "Time_Minutes": "tm", "Coordinate": "cdt", "Lat": "lat", "Long": "long"})
    df = df.dropna().drop_duplicates()
    
    df["text_features"] = df['des'] + ' ' + df['cat'] + ' ' + df['cit']
    vectorizer = TfidfVectorizer(stop_words="indonesian")
    return pd.DataFrame(df)

In [22]:
load_data()

,id,name,des,cat,cit,price,rating,tm,cdt,lat,long,text_features
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,Monumen Nasional atau yang populer disingkat d...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,Dunia Fantasi atau disebut juga Dufan adalah t...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,Atlantis Water Adventure atau dikenal dengan A...
5,6,Taman Impian Jaya Ancol,Taman Impian Jaya Ancol merupakan sebuah objek...,Taman Hiburan,Jakarta,25000,4.5,10.0,"{'lat': -6.117333200000001, 'lng': 106.8579951}",-6.117333,106.857995,Taman Impian Jaya Ancol merupakan sebuah objek...
...,...,...,...,...,...,...,...,...,...,...,...,...
428,429,House of Sampoerna,House of Sampoerna adalah sebuah museum tembak...,Budaya,Surabaya,0,4.6,30.0,"{'lat': -7.230817300000001, 'lng': 112.7342344}",-7.230817,112.734234,House of Sampoerna adalah sebuah museum tembak...
429,430,Atlantis Land Surabaya,"Sejak diresmikan pada bulan Desember 2017, Atl...",Taman Hiburan,Surabaya,125000,4.4,120.0,"{'lat': -7.2516189, 'lng': 112.8009694}",-7.251619,112.800969,"Sejak diresmikan pada bulan Desember 2017, Atl..."
431,432,Taman Mundu,Taman Mundu merupakan salah satu taman atau ru...,Taman Hiburan,Surabaya,0,4.4,30.0,"{'lat': -7.251604599999999, 'lng': 112.7545983}",-7.251605,112.754598,Taman Mundu merupakan salah satu taman atau ru...
432,433,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...,Budaya,Surabaya,2000,4.4,45.0,"{'lat': -7.4338593, 'lng': 112.7199058}",-7.433859,112.719906,Museum Negeri Mpu Tantular adalah sebuah museu...
434,435,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...,Taman Hiburan,Surabaya,0,4.4,45.0,"{'lat': -7.2752955, 'lng': 112.7549381}",-7.275296,112.754938,Air mancur menari atau dancing fountain juga a...